.about-page {
    text-align: center;
}

.bio-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#bio {
  font-family: 'Tenor Sans', sans-serif;
  font-size: 42px;
  font-weight: bold;
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: beige;
}

