.about-page {
    width: 90%;
    margin: 20px;
}

#bio {
  font-family: 'Tenor Sans', sans-serif;
  font-size: 36px;
  font-weight: bold;
  background-color: beige;
  border-color:rgb(234, 248, 248);
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

