
body {
    background-image: url('/pics/IMG_8807.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
}
/* #main-pic {
    height: 700px;
    width: 600px;
} */
#home-heading {
    width: 100%;
    font-size: 72px;
    text-align: center;
}
.random-quote {
    text-align: center;
    width: 100%;
    border-style: ridge; 
    border-width: 2px;  
    position: relative;
    top: 200px;
  }

