
.home-page {
    text-align: center;
    height: 100%;
    /* width: 50%; */
}

#home-heading {
    font-size: 72px;
    text-align: center;
}
#job-title {
    font-size: 30px;
}
.random-quote {
    width: 100%;
    height: 140px;
    border-style: solid; 
    border-width: 2px; 
    border-color: rgb(234, 248, 248);
    border-radius: 20px;
    background-color: beige;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
.random-quote:hover{
    box-shadow: 0 4px 8px 0 rgbs(0,0,0,0.8);
}

.portfolio_info {
    padding: 10px;
    display: grid;
    grid-template-columns: .5fr 1.5fr; 
}
#main-pic {
    height: auto;
    width: 500px;
    opacity: .95;
    border-radius: 5px;
}
.main-card {
    padding: 20px;
}
.social-buttons {
   margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#first-sc {
    width: 200px;
    display: grid;
    grid-template-rows: 1fr 1fr;
   justify-items: center;
}

#second-sc {
    width: 200px;
    display: grid;
    grid-template-rows: 1fr 1fr;
   justify-items: center;
}

#third-sc {
    width: 200px;
    display: grid;
    grid-template-rows: 1fr 1fr;
   justify-items: center;
}

#fourth-sc {
    width: 200px;
    display: grid;
    grid-template-rows: 1fr 1fr;
   justify-items: center;
}

#contact-social {
    font-size: 30px;
}
#contact {
    height: 100px;
    width: 100px
}