.nav-bar {
    text-align: center;
    font-size: x-large;
    height: 50px;
    width: 100%;
    background-color: black;
}

a {
    font-style: italic;
    text-decoration: none;
    color: beige;
}

