.nav-bar {
    text-align: center;
    font-size: x-large;
    height: 50px;
    width: 100%;
    color: rgb(7, 7, 52);
    background-color: beige;
}

a {
    font-style: italic;
    text-decoration: none;
}