.nav-bar {
    text-align: right;
    font-size: x-large;
    height: 50px;
    width: 100%;

    color: rgb(7, 7, 52);
}

/* #tag {
    text-align: left;
    float: left;
} */

nav {
    color: black;
}