#heading {
    text-align: center;
    font-size: 48px;
}

.container {
    text-align: center;
   
}

.project-map {
    display: grid;
    justify-items: center;
    grid-template-columns: [one] 1fr [two] 1fr [three];
    grid-template-rows: 1fr 1fr 1fr ;
    padding: 20px;
    margin: 20px;
}

.link-buttons {
    align-items: baseline;
    height: 10px;
    width: 10px;
}

button {
    height: 25px;
    width: 80px;
    background-color: whitesmoke;
    margin: 5px;  
}

button:hover {
    color: blue;
    background-color: lightskyblue;
}
