#heading {
    text-align: center;
}
.skill-list {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}


/* .container {
    text-align: center;
    display: flex;
    flex-direction: row;
} */

#js-icon {
    text-align: center;
    align-items: center;
    width: 20%;
}