@import url('https://fonts.googleapis.com/css?family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:600&display=swap');

.App {
  height: 100%;
  width: 100%;
  background: url('/loo-roll.jpg');
}

.full-body {
  height:100%;
  width:100%;
  background-image: url('/loo-roll.jpg');
}
body {
  /* background-image: url('/gray_pattern-background.jpeg') fixed no-repeat */
  background-image: url('/loo-roll.jpg')
}
h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 72px
}

h2, h3, h4, p {
  font-family: 'Tenor Sans', sans-serif
}