@import url('https://fonts.googleapis.com/css?family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Roboto&display=swap');

.App, html {
  height: 100%;
  width: 100%;
  background-color:rgb(234, 248, 248);
}

.full-body {
  height:100%;
  width:100%;
  padding-right: 20px;
}

h1 {
  font-family: 'Inconsolata', monospace;
  font-size: 72px
}

h2, h3, h4, p {
  font-family: 'Roboto', sans-serif;
  letter-spacing: .03em;
  font-weight: 400;
}

p {
  font-weight: lighter;
  letter-spacing: .03em;
}


