.about-page {
    padding: 10px;
}

#bio {
  font-family: 'Roboto', sans-serif;;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: lighter;
  border-color:rgb(234, 248, 248);
  border-style: solid;
  border-width: 2px;
  letter-spacing: .03em;
}

