#heading {
    text-align: center;
}

#skills-heading {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: lighter;
}

.skill-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding-bottom: 10px;
}

#js-icon {
    text-align: center;
    align-items: center;
    width: auto;
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: beige;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#html-icon{
    text-align: center;
    align-items: center;
    width: auto;
    grid-column: 2/3;
    grid-row: 3/4;
    background-color: beige;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#css-icon{
    text-align: center;
    align-items: center;
    width: auto;
    grid-column: 3/4;
    grid-row: 3/4;
    background-color: beige;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#nodejs-icon{
    text-align: center;
    align-items: center;
    width: auto;
    grid-column: 3/4;
    grid-row: 2/3;
    background-color: beige;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#postgres-icon{
    text-align: center;
    align-items: center;
    width: auto;
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: beige;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#react-icon{
    text-align: center;
    align-items: center;
    width: auto;
    grid-column: 3/4;
    grid-row: 1/2;
    background-color: beige;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#github-icon{
    text-align: center;
    align-items: center;
    width: auto;
    grid-column: 2/3;
    grid-row: 4/5;
    background-color: beige;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#git-icon{
    text-align: center;
    align-items: center;
    width: auto;
    grid-column: 3/4;
    grid-row: 4/5;
    background-color: beige;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}